@charset "utf-8";
/* ------------------------------------------------ */
/*    CANVAS PRACTICE                               */
/*    by Bence Szegvári                             */
/*    https://github.com/bencesz/canvas-practice    */
/* ------------------------------------------------ */


* {
    box-sizing: border-box;
}
html, body {
	padding:0;
	margin:0;
	font-size:16px;
	font-family: sans-serif;
}
body {
	background: #121212;
    color: #444;
}
a,
a:link {
    color: #444;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: #666;
    border-bottom: dotted 1px #444;
}
h1 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: auto;
    text-transform: uppercase;
    font-weight: normal;
}
h2,h3,h4,h5 {
    margin-top: 0;
}
h2 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: .875rem;
}
h3 {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: .5rem;
}
h4, h5 {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: .5rem;
}
h5 {
    font-weight: normal;
}
[hidden] {
    display: none !important;
}
.text-danger {
    color: #e83300;
}
.text-success {
    color: #00aa00;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	align-items: center;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.container {
    position: relative;
    border: double 3px #ffffff;
    display: flex;
    justify-content: center;
}
.controls {
    position: absolute;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}
.game-screen {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    width: 100%;
}
.play-text {
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
    margin-top: auto;
}
canvas {
    cursor: pointer;
    outline: none !important;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
}
canvas:focus {

}
.icon {
    display: inline-block;
    vertical-align: bottom;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
}
svg > symbol > path {
    fill: #ffffff
}
.btn {
    display: block;
	border:none;
    position: relative;
	padding: .5rem;
	font-size: 1.3rem;
    line-height: 1.3rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
    -webkit-transition: all .5s ease;
	transition: all .5s ease;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    overflow: hidden;
}
.btn:hover,
.btn:active,
.btn:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn-main {
    display: block;
    margin: 2rem auto auto auto;
    border-bottom: solid 2px #a80000;
    background: #e83300;
    padding: 1rem 4rem;
}
.btn-action {
    position: relative;
    background: transparent;
}
.btn-mute.muted::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #e83300;
    height: 2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.keys {
    display:flex;
    justify-content: center;
    margin: auto;
}
.key {
    text-align: center;
    color: #666;
}
.key .btn-action {
    padding: 1rem;
}
.arrow {
    display: flex;
    color: #fff;
    background: transparent;
    width: 4rem;
    height: 4rem;
    margin: auto .5rem .5rem;
    border: solid 1px #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
}
.version {
    position: absolute;
    color: #666;
    left: .5rem;
    top: .5rem;
}
.copyright {
    margin-top: .5rem;
    font-size: .875rem;
}
.copyright span {
    font-size: inherit;
}

/* INITIAL STATE */
#btn-restart,
#btn-resume,
#play-screen,
#pause-screen,
#end-screen,
.status-text {
    display: none;
}
#play-screen {
    pointer-events: none;
}