@charset "utf-8";
/* ------------------------------------------------ */
/*    CANVAS PRACTICE                               */
/*    by Bence Szegvári                             */
/*    https://github.com/bencesz/canvas-practice    */
/* ------------------------------------------------ */

* {
    box-sizing: border-box;
}
html, body {
	padding:0;
	margin:0;
	font-size:16px;
	font-family: sans-serif;
}
body {
	background: #121212;
    color: #fff;
}
a,
a:link {
    color: #fff;
    text-decoration: none;
    border-bottom: dotted 1px #d6d6d6;
}
a:hover,
a:active,
a:focus {
    color: #d6d6d6;
    border-bottom: dotted 1px #fff;
}
h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: auto;
    text-transform: uppercase;
    font-weight: normal;
}
h2,h3,h4,h5 {
    margin-top: 0;
}
h2 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: .875rem;
}
h3 {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: .5rem;
}
h4, h5 {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: .5rem;
}
h5 {
    font-weight: normal;
}
[hidden] {
    display: none !important;
}
.text-danger {
    color: #e83300;
}
.text-success {
    color: #00aa00;
}
.wrapper {
	display: block;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.container {
    position: relative;
}
.game-header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem 0 1rem;
    background: rgba(0,0,0,.2);
}
.game-info {
    opacity: .3;
}
.controls {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}
.game-screen {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    width: 100%;
    text-shadow: 0 0 1.5rem rgba(0,0,0,.6);
}
.play-text {
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
    margin-top: auto;
    padding: .5rem 1rem;
    background: rgba(0,0,0,.2);
}
.play-text h5 {
    margin-bottom: 0;
}
canvas {
    cursor: pointer;
    outline: none !important;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    background: transparent url(images/level1.jpg) center center repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
}
canvas:focus {

}
.icon {
    display: inline-block;
    vertical-align: bottom;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
}
svg > symbol > path {
    fill: #ffffff
}
.btn {
    display: block;
	border:none;
    position: relative;
	padding: .5rem;
	font-size: 1.3rem;
    line-height: 1.3rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
    -webkit-transition: all .5s ease;
	transition: all .5s ease;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    overflow: hidden;
    -webkit-appearance: button;
}
.btn:hover,
.btn:active,
.btn:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn-main {
    display: block;
    margin: 2rem auto auto auto;
    border-bottom: solid 2px #a80000;
    background: #e83300;
    padding: 1rem;
    width: 25%;
    text-shadow: 0 -1px 0 #a80000;
    border-radius: 2rem;
    pointer-events: auto;
}
.btn-main .icon {
    float: right;
}
.btn-action {
    position: relative;
    background: transparent;
}
.btn-mute.muted:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #e83300;
    height: 2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.keys {
    display:flex;
    justify-content: center;
    margin: auto;
}
.key {
    text-align: center;
}
.key .btn-action {
    padding: 1rem;
}
.arrow {
    display: flex;
    color: #fff;
    background: transparent;
    width: 4rem;
    height: 4rem;
    margin: auto .5rem .5rem;
    border: solid 1px #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
}

/* INITIAL STATE */
#btn-restart,
#btn-resume,
#play-screen,
#pause-screen,
#end-screen,
.status-text {
    display: none;
}
#play-screen,
#end-screen,
#pause-screen,
.version {
    pointer-events: none;
}
.screen-faded {
    background: rgba(0,0,0,.5);
}